h2{
	background-color: red;
}

#num-word-input {
	width: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.generated-password {
	display: inline;
	padding: 0em .1em;
}

.container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.error{
	color: red;
}